<!DOCTYPE html>
<html>
<head>
  <title>RumoreDigitale</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <%= csrf_meta_tags %>
	<style>
		img{
			max-width: 100%;
			height: auto;
		}
		img.sfsmiley{
			width: auto;
			height: auto;
		}
		img.alignright{
			float:right;
			width: auto;
			margin: 0 0 5px 5px;
		}
		img.logo{
			width: 98%;
			margin: 1%;
		}
		.content_div#b {
		    display: none;
		}
		.ui-btn-active {
			border: 1px solid #808080 /*{global-active-border}*/;
			background: #4d4d4d /*{global-active-background-color}*/;
			font-weight: bold;
			color: #fcee21 /*{global-active-color}*/;
			cursor: pointer;
			text-shadow:  0  /*{global-active-shadow-x}*/  -1px  /*{global-active-shadow-y}*/  1px  /*{global-active-shadow-radius}*/ #000000 /*{global-active-shadow-color}*/;
			text-decoration: none;
			background-image: -webkit-gradient(linear, left top, left bottom, from( #545454 /*{global-active-background-start}*/), to( #454545 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient( #545454 /*{global-active-background-start}*/, #454545 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient( #545454 /*{global-active-background-start}*/, #454545 /*{global-active-background-end}*/); /* FF3.6 */
			background-image:     -ms-linear-gradient( #545454 /*{global-active-background-start}*/, #454545 /*{global-active-background-end}*/); /* IE10 */
			background-image:      -o-linear-gradient( #545454 /*{global-active-background-start}*/, #454545 /*{global-active-background-end}*/); /* Opera 11.10+ */
			background-image:         linear-gradient( #545454 /*{global-active-background-start}*/, #454545 /*{global-active-background-end}*/);
			 font-family: Helvetica, Arial, sans-serif  /*{global-font-family}*/;
		}
		.ui-btn-active a.ui-link-inherit {
			color: #fcee21 /*{global-active-color}*/;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
		$('div[data-role="navbar"] a').live('click', function () {
		    $(this).addClass('ui-btn-active');
		    $('div.content_div').hide();
		    $('div#' + $(this).attr('data-href')).show();
		});
	</script>
<meta name = "viewport" content = "width=device-width, initial-scale = 1, user-scalable=yes, minimum-scale=10.0, maximum-scale=1.0">  
<!--[if IE 7]><meta name="viewport" content="width=480, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><![endif]-->
  <!--[if IE 9]><meta name="viewport" content="width=480, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><![endif]-->
  <link href="/assets/favicon.ico" rel="Shortcut Icon" />
	<link rel="icon" 
	      type="image/png" 
	      href="/assets/favicon.png">

</head>
<body>
	<div data-role="page" data-theme="d">
		<div data-role="header">
			<%= image_tag "rumore-digitale_.png", :class => "logo"%>
			<div data-role="navbar" data-iconpos="bottom" data-theme="e">
				<ul>
					<li><a href="#" data-href="a" data-icon="grid" class="ui-btn-active">Forum</a></li>
					<li><a href="#" data-href="b" data-icon="grid">Sito</a></li>
					<!--<li><%= link_to "Aggiorna", feed_entries_path, "data-icon"=>"refresh", :rel => "external" %></li>-->
				</ul>
			</div><!-- /navbar -->
		</div>
		<%= yield %>
		<div data-role="footer">
			<div data-role="navbar" data-iconpos="right" data-theme="e">
					<ul>
						<li><a href="http://www.rumoredigitale.com" data-icon="arrow-r">Vai al Sito</a></li>
						<li><a href="http://www.rumoredigitale.com/forum" data-icon="arrow-r">Vai al Forum</a></li>
					</ul>
				</div><!-- /navbar -->
		</div>
	</div>
	
		
	
	<script type="text/javascript" charset="utf-8">
	(function($){
		function loadSettings(){
			//Initialize dynamic configuration.
			$.mobile.loadingMessage = "Caricamento...";
			$.mobile.isProduction = true;
		}
		loadSettings();
	}(jQuery));

	</script>
	
</body>
</html>
